@import url("https://fonts.googleapis.com/css2?family=Questrial&display=swap");
body{
  font-family: 'Big Shoulders Text', cursive;
font-family: 'Open Sans', sans-serif;
font-family: "Questrial";
font-family: 'Borel', cursive;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Borel", sans-serif;
}
@keyframes animateBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
@keyframes animateBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

@keyframes moveElements {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

.maincontent {
  position: relative;
  background-image: linear-gradient(90deg, #fff, #fff); /* Set your desired gradient colors */
  background-size: 200% 100%;
  animation: animateBackground 10s linear infinite;
  padding: 50px; /* Add padding to give space for the moving elements */
  width: auto;
  height: 100%;
border: 1px solid gray;
margin: 20px;
display: flex;
flex-direction: column;
opacity: 0;
  transition: opacity 0.5s ease;
}

/* Add some moving elements */
.moving-element {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: hsla(0, 90%, 54%, 0.702); /* Set the color of the moving elements */
  border-radius: 50%;
  animation: moveElements 3s ease-in-out infinite;
}

/* Floating particles */
.particle {
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #e4393980; /* Set the color of the particles */
  border-radius: 50%;
  animation: floatParticle 5s linear infinite, fadeParticle 5s linear alternate infinite;
}

/* Keyframes for floating particles */
@keyframes floatParticle {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-100px);
  }
}

@keyframes fadeParticle {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

*, *:before, *:after {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  font-size: 20px;
}
body {
  background: #ffffff;
  color: #222;
  font: 1em "Anton", sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}
.content-container {
    position: relative;
    z-index: 1;
    /* Add any other styling you need for your content container */
  }
  .particles-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* This ensures that the particles don't block mouse interactions with the content */
    /* Add any other styling you need for your particle container */
  }
.progress-container, .progress-state, .dump-truck, .dump-truck div {
  position: absolute;
}

.progress-container, .progress-box {
  width: 6em;
}
.progress-container {
  top: 50%;
  left: calc(50% - 3em);
  height: 7.5em;
  z-index: 2;
}
.progress-box {
  border-radius: 0 0 0.5em 0.5em;
  border: 0.5em solid #505050;
  border-top: 0;
  height: 4em;
}
.progress-fill {
  animation: fillDirt 10s linear forwards;
  background: #643232;
  transform: scaleY(0);
  transform-origin: 50% 100%;
  transition: transform 0.5s ease-out;
  width: 100%;
  height: 100%;
}
.progress-state {
  bottom: 0;
  left: 0;
  font-size: 1.5em;
  text-align: center;
}
.state-load {
  animation: hideLoad 20s linear forwards;
}
.state-finish {
  animation: showFinish 0.3s 20s linear forwards;
  visibility: hidden;
}
/* trucks */
.dump-truck {
  opacity: 0;
  top: calc(50% - 4em);
  width: 14em;
  height: 8em;
}
.dump-truck:nth-of-type(2) {
  animation: backupL 10s ease-in-out 2 forwards;
  right: 50%;
  transform: scaleX(-1) translateX(5em);
}
.dump-truck:nth-of-type(2) .bucket {
  animation: dump 10s linear 2;
}
.dump-truck:nth-of-type(2) .dirt {
  animation: rotateDirt 10s linear 2;
}
.dump-truck:nth-of-type(2) .dirt-spill {
  animation: pourDirt 10s linear 2;
}
.dump-truck:nth-of-type(2) .wheel {
  animation: spinL 10s ease-in-out 2;
}
.dump-truck:last-of-type {
  animation: backupR 10s 5s ease-in-out 2 forwards;
  left: 50%;
  transform: translateX(5em);
}
.dump-truck:last-of-type .bucket {
  animation: dump 10s 5s linear 2;
}
.dump-truck:last-of-type .dirt {
  animation: rotateDirt 10s 5s linear 2;
}
.dump-truck:last-of-type .dirt-spill {
  animation: pourDirt 10s 5s linear 2;
}
.dump-truck:last-of-type .wheel {
  animation: spinR 10s 5s ease-in-out 2;
}
.front {
  background: linear-gradient(#ff3f30, #ff3f30) 2.7em 0.75em / 0.2em 2em, linear-gradient(#a0a0a0, #a0a0a0) 1em 3.5em / 0.8em 0.2em, linear-gradient(#505050, #505050) 3.3em 6.1em / 0.5em 0.2em, linear-gradient(#505050, #505050) 3.3em 6.8em / 0.5em 0.2em, linear-gradient(83deg, #282828 49%, rgba(40, 40, 40, 0) 50%) 1em 0.75em / 5em 2em, radial-gradient(3.4em 4.6em at 33% 100%, rgba(255, 255, 255, 0) 49%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 59%, rgba(255, 255, 255, 0) 60%), radial-gradient(3.4em 4.6em at 33% 100%, rgba(255, 63, 48, 0) 49%, #ff3f30 50%);
  background-repeat: no-repeat;
  border-radius: 10% 20% 5% 25% / 10% 50% 5% 100%;
  top: 0.4em;
  left: 10.1em;
  width: 3.9em;
  height: 7em;
}
.bucket {
  background: repeating-linear-gradient(95deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 0.85em, rgba(0, 0, 0, 0.15) 0.9em, rgba(0, 0, 0, 0.15) 1.75em, rgba(0, 0, 0, 0.15) 1.8em) 0.1em 1.6em / 7.8em 3.2em, linear-gradient(#505050, #505050) 8em 0 / 2em 0.5em, linear-gradient(95deg, rgba(80, 80, 80, 0) 0.45em, #505050 0.5em, #505050 1.45em, rgba(80, 80, 80, 0) 1.5em) 7em 0 / 1.6em 5.5em, linear-gradient(rgba(80, 80, 80, 0) 1em, #505050 1em) 0 0 / 7.5em 5.5em;
  background-repeat: no-repeat;
  border-radius: 0 0 0 25% / 0 0 0 15%;
  top: 0;
  left: 0;
  width: 10em;
  height: 5.5em;
  transform: rotate(0deg);
  transform-origin: 22% 100%;
}
.dirt {
  background: #643232;
  border-radius: 0 0 50% 50% / 0 0 100% 100%;
  top: 1.1em;
  left: -3.2em;
  width: 7.4em;
  height: 3em;
  transform: rotate(-25deg);
  transform-origin: 50% 0;
  z-index: -1;
}
.dirt-spill {
  background: #643232;
  border-radius: 0.4em;
  top: 0;
  left: -5.25em;
  transform: rotate(-40deg) scale(1, 1);
  transform-origin: 5.25em 0em;
  width: 5.5em;
  height: 0.8em;
}
.base {
  background: #7f5b58;
  border-radius: 0.25em;
  top: 5.5em;
  left: 2em;
  width: 8.3em;
  height: 1.5em;
}
.wheel {
  background: radial-gradient(100% 100%, #282828 9%, rgba(40, 40, 40, 0) 10%), radial-gradient(100% 100%, #a0a0a0 29%, rgba(160, 160, 160, 0) 30%), linear-gradient(90deg, rgba(255, 255, 255, 0.15) 49%, rgba(255, 255, 255, 0) 50%), radial-gradient(100% 100%, #282828 49%, rgba(40, 40, 40, 0) 50%);
  border-radius: 50%;
  bottom: 0;
  width: 2.4em;
  height: 2.4em;
}
.wheel-front {
  left: 10.4em;
}
.wheel-middle {
  left: 4.5em;
}
.wheel-back {
  left: 2em;
}
/* animations */
@keyframes backupL {
  from, 50%, to {
    opacity: 0;
    transform: scaleX(-1) translateX(20em);
  }
  12.5%, 37.5% {
    opacity: 1;
    transform: scaleX(-1) translateX(5em);
  }
}
@keyframes backupR {
  from, 50%, to {
    opacity: 0;
    transform: translateX(20em);
  }
  12.5%, 37.5% {
    opacity: 1;
    transform: translateX(5em);
  }
}
@keyframes dump {
  from, 12.5%, 37.5%, to {
    transform: rotate(0deg);
  }
  20%, 30% {
    transform: rotate(-40deg);
  }
}
@keyframes rotateDirt {
  from, 19.9%, 30.1%, to {
    opacity: 0;
  }
  20%, 30% {
    opacity: 1;
    transform: rotate(-40deg);
  }
  25% {
    transform: rotate(-25deg);
  }
}
@keyframes pourDirt {
  from, 20% {
    transform: rotate(-40deg) scale(0, 0);
  }
  25% {
    transform: rotate(-40deg) scale(1, 1);
  }
  30%, to {
    transform: rotate(-25deg) scale(0.8, 0);
  }
}
@keyframes spinL {
  from, 50%, to {
    transform: rotate(-0.5turn);
  }
  12.5%, 37.5% {
    transform: rotate(-2.5turn);
  }
}
@keyframes spinR {
  from, 50%, to {
    transform: rotate(0);
  }
  12.5%, 37.5% {
    transform: rotate(-2turn);
  }
}
@keyframes hideLoad {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@keyframes showFinish {
  from {
    transform: scale(0);
    visibility: visible;
  }
  80% {
    transform: scale(1.2);
  }
  to {
    transform: scale(1);
    visibility: visible;
  }
}

header {
  height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
  }
  .progress {
     position: fixed; 
     top: 0; 
     left: 0; 
     height: 10px; 
     background-color: purple; 
     transition: all linear 0.1s; 
     min-width: 1%; 
     z-index: 999;
    }
    .customNav{
      position: fixed;
      width: 100%;
      background: url("../images/transparency.png");
      background-color: transparent !important;
      background-size: cover;
      z-index: 10;
    }
    .navbar-nav{
      margin-left: auto;
      margin-right: 0 !important;
    }
    .navbar-brand img{
      padding-right: 15px;
      width: 65px;
    }
    .navbar-light .navbar-nav .nav-item .nav-link {
     
      color: #333;
      background-color: transparent;
      transition: transform 0.3s ease;
    }
  
    .navbar-light .navbar-nav .nav-item .nav-link:hover {
      color: #b00000;
      background-color: #F3C4C4;
      transform: scale(1.1);
    }
  .description{
    width: auto;
    height: 200px;
    padding: 10px;
    font-size: 18px;
    background-color: #F3C4C4;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .image_class{
    align-items: center;
    justify-content: center;
  }
  #heroGrid_subtrack{
    margin: 0px 5%;
  display: flex;
  align-content: center;
  min-height: 500px;
background-color: #f9f9f9;
  grid-template-rows: 50% 50%;
  grid-template-areas: "subtrackImage subtrackDesc"
  "subtrackImage subtrackDesc";
  }
  #heroGrid_artscape{
    margin: 0px 5%;
  display: flex;
  align-content: center;
  min-height: 500px;
background-color: #f9f9f9;
  grid-template-rows: 50% 50%;
  grid-template-areas: "subtrackImage subtrackDesc"
  "subtrackImage subtrackDesc";
  }
  #heroGrid_usdoi{
    margin: 0px 5%;
  display: flex;
  align-content: center;
  min-height: 500px;
background-color: #f9f9f9;
  grid-template-rows: 50% 50%;
  grid-template-areas: "subtrackImage subtrackDesc"
  "subtrackImage subtrackDesc";
  }
  #heroGrid1{
    margin: 0px 5%;
  display: flex;
  align-content: center;
  min-height: 500px;
  grid-template-rows: 50% 50%;
  grid-template-areas: "myDesc myImage"
  "myDesc myImage";
  }
  .animated-button {
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    background-color: plum;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease; /* Use the 'all' property to animate all CSS properties */
  }
  
  .animated-button:hover {
    transform: scale(1.1); /* Scale the button by 10% on hover */
    background-color: #F44336; /* Change background color on hover */
  }
  .project-container {
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  position: relative;
  }
  
  .subtrack_image {
    flex: 1;
    margin-right: 20px;
  }
  .subtrack_image img {
    width: 600px;
    height: 500px;
    margin: 15px;
  }
  .gif-container {
    display: flex;
    justify-content: center;
    margin-top: 0px;
  }
  .artscape_image {
    flex: 1;
    margin-right: 20px;
  }
  .artscape_image img {
    width: 600px;
    height: 500px;
    margin: 15px;
  }

  .usdoi_image {
    flex: 1;
    margin-right: 20px;
  }
  .usdoi_image img {
    width: 600px;
    height: 500px;
    margin: 15px;
  }
  .project-description {
    flex: 1;
  }
  

  
  .project-description h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .project-description p {
    font-size: 24px;
  }
#subtrackImage{
  grid-area: subtrackImage;
}
#subtrackDesc{
  grid-area: subtrackDesc;
  
}
#myDesc{
  grid-area: myDesc;
}
#myImage{
  grid-area: myImage;
  
}

  .footer {
    text-align: center;
    position: relative;
  }
  
  hr {
    margin-top: 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
  }
  
  .email {
    margin-right: 20px;
  }
  
  .linkedin-icon {
    height: 24px;
    width: auto;
  }
  /* @media only screen and (max-width: 767px) {
    #heroGrid1 {
      margin: 0px 5%;
      flex-direction: column;
      align-items: center;
    }
      .project-container {
        background-color: #f9f9f9;
      width: 100%;
      flex-direction: column;
      align-items: center;

}
  } */
  @media only screen and (max-width: 767px) {
    #heroGrid1 {
      margin: 0 5%;
      flex-direction: column;
      align-items: center;
    }
  
    .project-container {
      background-color: #f9f9f9;
      width: 100%;
      flex-direction: column;
      align-items: center;
    }
    .navbar-light .navbar-nav .nav-item .nav-link:hover {
      /* Change the styles on hover */
      color: #b00000;
      background-color: #F3C4C4;
    }
  }
  
  /* Tablet Version (768px to 1023px) */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    #heroGrid1 {
      margin: 0 10%; /* Increase the margin for a wider layout */
    }
  
    .project-container {
      background-color: #f9f9f9;
      width: 90%; /* Adjust the width to leave more space for content */
      flex-direction: column;
      align-items: center;
    }
  
    /* You may also need to adjust font sizes and other styles for better readability */
    /* For example: */
    .project-title {
      font-size: 1.2rem; /* Decrease the font size to fit more content */
    }
  
    .project-description {
      font-size: 1rem; /* Adjust the font size of the description */
    }
    .navbar-light .navbar-nav .nav-item .nav-link:hover {
      /* Change the styles on hover */
      color: #b00000;
      background-color: #F3C4C4;
    }
  }
  
 

  .container_subtrack {
    align-items: center;
    border-radius: 26px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
      0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
      0 8px 16px rgba(0, 0, 0, 0.11);
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
    height: 52px;
    width: 190px;
  }
  .container_artscape {
    align-items: center;
    border-radius: 26px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
      0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
      0 8px 16px rgba(0, 0, 0, 0.11);
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
    height: 52px;
    width: 190px;
  }
  .container_usdoi {
    align-items: center;
    border-radius: 26px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
      0 4px 4px rgba(0, 0, 0, 0.11), 0 6px 8px rgba(0, 0, 0, 0.11),
      0 8px 16px rgba(0, 0, 0, 0.11);
    cursor: pointer;
    display: flex;
    justify-content: center;
    position: relative;
    height: 52px;
    width: 190px;
  }
  
  .bottom {
    border-radius: 26px;
    background: #eabbbb;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
  }
  
  .cover {
    background-color: #3743a4;
    border-radius: 26px;
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .cut {
    clip-path: polygon(
      100% 0%,
      99.73714% -0.13875%,
      98.96737% -0.53964%,
      97.71887% -1.17957%,
      96.01985% -2.03547%,
      93.89849% -3.08428%,
      91.38299% -4.30291%,
      88.50154% -5.66829%,
      85.28234% -7.15734%,
      81.75358% -8.74699%,
      77.94346% -10.41416%,
      73.88016% -12.13578%,
      69.59189% -13.88876%,
      65.10683% -15.65005%,
      60.45319% -17.39655%,
      55.65915% -19.10519%,
      50.75291% -20.75291%,
      45.76266% -22.31661%,
      40.7166% -23.77324%,
      35.64292% -25.09971%,
      30.56981% -26.27294%,
      25.52548% -27.26986%,
      20.5381% -28.0674%,
      15.63589% -28.64248%,
      10.84702% -28.97202%,
      6.1997% -29.03295%,
      1.72212% -28.8022%,
      -2.55753% -28.25668%,
      -6.61106% -27.37332%,
      -10.41026% -26.12905%,
      -13.92694% -24.50079%,
      -17.13292% -22.46546%,
      -20% -20%,
      -22.46546% -17.13292%,
      -24.50079% -13.92694%,
      -26.12905% -10.41026%,
      -27.37332% -6.61106%,
      -28.25668% -2.55753%,
      -28.8022% 1.72212%,
      -29.03295% 6.1997%,
      -28.97202% 10.84702%,
      -28.64248% 15.63589%,
      -28.0674% 20.5381%,
      -27.26986% 25.52548%,
      -26.27294% 30.56981%,
      -25.09971% 35.64292%,
      -23.77324% 40.7166%,
      -22.31661% 45.76266%,
      -20.75291% 50.75291%,
      -19.10519% 55.65915%,
      -17.39655% 60.45319%,
      -15.65005% 65.10683%,
      -13.88876% 69.59189%,
      -12.13578% 73.88016%,
      -10.41416% 77.94346%,
      -8.74699% 81.75358%,
      -7.15734% 85.28234%,
      -5.66829% 88.50154%,
      -4.30291% 91.38299%,
      -3.08428% 93.89849%,
      -2.03547% 96.01985%,
      -1.17957% 97.71887%,
      -0.53964% 98.96737%,
      -0.13875% 99.73714%,
      0% 100%,
      100% 100%
    );
    transition: clip-path 500ms;
  }
  .container_subtrack:hover .cut {
    clip-path: polygon(
      100% 0%,
      100.00018% 0.14326%,
      99.99754% 0.56399%,
      99.98732% 1.24864%,
      99.96476% 2.18368%,
      99.92511% 3.35553%,
      99.8636% 4.75066%,
      99.77547% 6.35551%,
      99.65597% 8.15653%,
      99.50033% 10.14017%,
      99.3038% 12.29288%,
      99.06161% 14.60111%,
      98.76901% 17.0513%,
      98.42123% 19.62992%,
      98.01352% 22.3234%,
      97.54112% 25.11819%,
      96.99926% 28.00074%,
      96.38318% 30.95751%,
      95.68814% 33.97494%,
      94.90936% 37.03949%,
      94.0421% 40.13759%,
      93.08158% 43.2557%,
      92.02305% 46.38027%,
      90.86174% 49.49775%,
      89.59291% 52.59459%,
      88.21179% 55.65723%,
      86.71362% 58.67212%,
      85.09364% 61.62572%,
      83.34709% 64.50448%,
      81.46921% 67.29483%,
      79.45524% 69.98324%,
      77.30042% 72.55614%,
      75% 75%,
      72.55614% 77.30042%,
      69.98324% 79.45524%,
      67.29483% 81.46921%,
      64.50448% 83.34709%,
      61.62572% 85.09364%,
      58.67212% 86.71362%,
      55.65723% 88.21179%,
      52.59459% 89.59291%,
      49.49775% 90.86174%,
      46.38027% 92.02305%,
      43.2557% 93.08158%,
      40.13759% 94.0421%,
      37.03949% 94.90936%,
      33.97494% 95.68814%,
      30.95751% 96.38318%,
      28.00074% 96.99926%,
      25.11819% 97.54112%,
      22.3234% 98.01352%,
      19.62992% 98.42123%,
      17.0513% 98.76901%,
      14.60111% 99.06161%,
      12.29288% 99.3038%,
      10.14017% 99.50033%,
      8.15653% 99.65597%,
      6.35551% 99.77547%,
      4.75066% 99.8636%,
      3.35553% 99.92511%,
      2.18368% 99.96476%,
      1.24864% 99.98732%,
      0.56399% 99.99754%,
      0.14326% 100.00018%,
      0% 100%,
      100% 100%
    );
  }
  .container_artscape:hover .cut {
    clip-path: polygon(
      100% 0%,
      100.00018% 0.14326%,
      99.99754% 0.56399%,
      99.98732% 1.24864%,
      99.96476% 2.18368%,
      99.92511% 3.35553%,
      99.8636% 4.75066%,
      99.77547% 6.35551%,
      99.65597% 8.15653%,
      99.50033% 10.14017%,
      99.3038% 12.29288%,
      99.06161% 14.60111%,
      98.76901% 17.0513%,
      98.42123% 19.62992%,
      98.01352% 22.3234%,
      97.54112% 25.11819%,
      96.99926% 28.00074%,
      96.38318% 30.95751%,
      95.68814% 33.97494%,
      94.90936% 37.03949%,
      94.0421% 40.13759%,
      93.08158% 43.2557%,
      92.02305% 46.38027%,
      90.86174% 49.49775%,
      89.59291% 52.59459%,
      88.21179% 55.65723%,
      86.71362% 58.67212%,
      85.09364% 61.62572%,
      83.34709% 64.50448%,
      81.46921% 67.29483%,
      79.45524% 69.98324%,
      77.30042% 72.55614%,
      75% 75%,
      72.55614% 77.30042%,
      69.98324% 79.45524%,
      67.29483% 81.46921%,
      64.50448% 83.34709%,
      61.62572% 85.09364%,
      58.67212% 86.71362%,
      55.65723% 88.21179%,
      52.59459% 89.59291%,
      49.49775% 90.86174%,
      46.38027% 92.02305%,
      43.2557% 93.08158%,
      40.13759% 94.0421%,
      37.03949% 94.90936%,
      33.97494% 95.68814%,
      30.95751% 96.38318%,
      28.00074% 96.99926%,
      25.11819% 97.54112%,
      22.3234% 98.01352%,
      19.62992% 98.42123%,
      17.0513% 98.76901%,
      14.60111% 99.06161%,
      12.29288% 99.3038%,
      10.14017% 99.50033%,
      8.15653% 99.65597%,
      6.35551% 99.77547%,
      4.75066% 99.8636%,
      3.35553% 99.92511%,
      2.18368% 99.96476%,
      1.24864% 99.98732%,
      0.56399% 99.99754%,
      0.14326% 100.00018%,
      0% 100%,
      100% 100%
    );
  }
  .container_usdoi:hover .cut {
    clip-path: polygon(
      100% 0%,
      100.00018% 0.14326%,
      99.99754% 0.56399%,
      99.98732% 1.24864%,
      99.96476% 2.18368%,
      99.92511% 3.35553%,
      99.8636% 4.75066%,
      99.77547% 6.35551%,
      99.65597% 8.15653%,
      99.50033% 10.14017%,
      99.3038% 12.29288%,
      99.06161% 14.60111%,
      98.76901% 17.0513%,
      98.42123% 19.62992%,
      98.01352% 22.3234%,
      97.54112% 25.11819%,
      96.99926% 28.00074%,
      96.38318% 30.95751%,
      95.68814% 33.97494%,
      94.90936% 37.03949%,
      94.0421% 40.13759%,
      93.08158% 43.2557%,
      92.02305% 46.38027%,
      90.86174% 49.49775%,
      89.59291% 52.59459%,
      88.21179% 55.65723%,
      86.71362% 58.67212%,
      85.09364% 61.62572%,
      83.34709% 64.50448%,
      81.46921% 67.29483%,
      79.45524% 69.98324%,
      77.30042% 72.55614%,
      75% 75%,
      72.55614% 77.30042%,
      69.98324% 79.45524%,
      67.29483% 81.46921%,
      64.50448% 83.34709%,
      61.62572% 85.09364%,
      58.67212% 86.71362%,
      55.65723% 88.21179%,
      52.59459% 89.59291%,
      49.49775% 90.86174%,
      46.38027% 92.02305%,
      43.2557% 93.08158%,
      40.13759% 94.0421%,
      37.03949% 94.90936%,
      33.97494% 95.68814%,
      30.95751% 96.38318%,
      28.00074% 96.99926%,
      25.11819% 97.54112%,
      22.3234% 98.01352%,
      19.62992% 98.42123%,
      17.0513% 98.76901%,
      14.60111% 99.06161%,
      12.29288% 99.3038%,
      10.14017% 99.50033%,
      8.15653% 99.65597%,
      6.35551% 99.77547%,
      4.75066% 99.8636%,
      3.35553% 99.92511%,
      2.18368% 99.96476%,
      1.24864% 99.98732%,
      0.56399% 99.99754%,
      0.14326% 100.00018%,
      0% 100%,
      100% 100%
    );
  }
  .container_subtrack:active .cut {
    clip-path: polygon(
      127.29527% 25.2734%,
      127.29545% 25.41665%,
      127.2928% 25.83738%,
      127.28259% 26.52204%,
      127.26003% 27.45707%,
      127.22038% 28.62893%,
      127.15887% 30.02405%,
      127.07074% 31.6289%,
      126.95124% 33.42992%,
      126.7956% 35.41357%,
      126.59907% 37.56628%,
      126.35688% 39.8745%,
      126.06428% 42.3247%,
      125.7165% 44.90331%,
      125.30879% 47.59679%,
      124.83638% 50.39158%,
      124.29452% 53.27414%,
      123.67845% 56.23091%,
      122.98341% 59.24834%,
      122.20463% 62.31288%,
      121.33736% 65.41099%,
      120.37685% 68.5291%,
      119.31831% 71.65367%,
      118.15701% 74.77115%,
      116.88818% 77.86798%,
      115.50706% 80.93062%,
      114.00889% 83.94552%,
      112.3889% 86.89912%,
      110.64235% 89.77787%,
      108.76447% 92.56823%,
      106.75051% 95.25663%,
      104.59569% 97.82954%,
      102.29527% 100.2734%,
      99.85141% 102.57382%,
      97.2785% 104.72864%,
      94.5901% 106.7426%,
      91.79974% 108.62048%,
      88.92099% 110.36703%,
      85.96739% 111.98702%,
      82.9525% 113.48519%,
      79.88985% 114.86631%,
      76.79302% 116.13514%,
      73.67554% 117.29644%,
      70.55097% 118.35497%,
      67.43286% 119.31549%,
      64.33476% 120.18276%,
      61.27021% 120.96154%,
      58.25278% 121.65658%,
      55.29601% 122.27265%,
      52.41345% 122.81451%,
      49.61866% 123.28692%,
      46.92518% 123.69463%,
      44.34657% 124.0424%,
      41.89638% 124.33501%,
      39.58815% 124.5772%,
      37.43544% 124.77373%,
      35.4518% 124.92937%,
      33.65078% 125.04887%,
      32.04593% 125.137%,
      30.6508% 125.19851%,
      29.47894% 125.23816%,
      28.54391% 125.26071%,
      27.85926% 125.27093%,
      27.43852% 125.27358%,
      27.29527% 125.2734%,
      127.29527% 125.2734%
    );
  }
  .container_artscape:active .cut {
    clip-path: polygon(
      127.29527% 25.2734%,
      127.29545% 25.41665%,
      127.2928% 25.83738%,
      127.28259% 26.52204%,
      127.26003% 27.45707%,
      127.22038% 28.62893%,
      127.15887% 30.02405%,
      127.07074% 31.6289%,
      126.95124% 33.42992%,
      126.7956% 35.41357%,
      126.59907% 37.56628%,
      126.35688% 39.8745%,
      126.06428% 42.3247%,
      125.7165% 44.90331%,
      125.30879% 47.59679%,
      124.83638% 50.39158%,
      124.29452% 53.27414%,
      123.67845% 56.23091%,
      122.98341% 59.24834%,
      122.20463% 62.31288%,
      121.33736% 65.41099%,
      120.37685% 68.5291%,
      119.31831% 71.65367%,
      118.15701% 74.77115%,
      116.88818% 77.86798%,
      115.50706% 80.93062%,
      114.00889% 83.94552%,
      112.3889% 86.89912%,
      110.64235% 89.77787%,
      108.76447% 92.56823%,
      106.75051% 95.25663%,
      104.59569% 97.82954%,
      102.29527% 100.2734%,
      99.85141% 102.57382%,
      97.2785% 104.72864%,
      94.5901% 106.7426%,
      91.79974% 108.62048%,
      88.92099% 110.36703%,
      85.96739% 111.98702%,
      82.9525% 113.48519%,
      79.88985% 114.86631%,
      76.79302% 116.13514%,
      73.67554% 117.29644%,
      70.55097% 118.35497%,
      67.43286% 119.31549%,
      64.33476% 120.18276%,
      61.27021% 120.96154%,
      58.25278% 121.65658%,
      55.29601% 122.27265%,
      52.41345% 122.81451%,
      49.61866% 123.28692%,
      46.92518% 123.69463%,
      44.34657% 124.0424%,
      41.89638% 124.33501%,
      39.58815% 124.5772%,
      37.43544% 124.77373%,
      35.4518% 124.92937%,
      33.65078% 125.04887%,
      32.04593% 125.137%,
      30.6508% 125.19851%,
      29.47894% 125.23816%,
      28.54391% 125.26071%,
      27.85926% 125.27093%,
      27.43852% 125.27358%,
      27.29527% 125.2734%,
      127.29527% 125.2734%
    );
  }
  .container_usdoi:active .cut {
    clip-path: polygon(
      127.29527% 25.2734%,
      127.29545% 25.41665%,
      127.2928% 25.83738%,
      127.28259% 26.52204%,
      127.26003% 27.45707%,
      127.22038% 28.62893%,
      127.15887% 30.02405%,
      127.07074% 31.6289%,
      126.95124% 33.42992%,
      126.7956% 35.41357%,
      126.59907% 37.56628%,
      126.35688% 39.8745%,
      126.06428% 42.3247%,
      125.7165% 44.90331%,
      125.30879% 47.59679%,
      124.83638% 50.39158%,
      124.29452% 53.27414%,
      123.67845% 56.23091%,
      122.98341% 59.24834%,
      122.20463% 62.31288%,
      121.33736% 65.41099%,
      120.37685% 68.5291%,
      119.31831% 71.65367%,
      118.15701% 74.77115%,
      116.88818% 77.86798%,
      115.50706% 80.93062%,
      114.00889% 83.94552%,
      112.3889% 86.89912%,
      110.64235% 89.77787%,
      108.76447% 92.56823%,
      106.75051% 95.25663%,
      104.59569% 97.82954%,
      102.29527% 100.2734%,
      99.85141% 102.57382%,
      97.2785% 104.72864%,
      94.5901% 106.7426%,
      91.79974% 108.62048%,
      88.92099% 110.36703%,
      85.96739% 111.98702%,
      82.9525% 113.48519%,
      79.88985% 114.86631%,
      76.79302% 116.13514%,
      73.67554% 117.29644%,
      70.55097% 118.35497%,
      67.43286% 119.31549%,
      64.33476% 120.18276%,
      61.27021% 120.96154%,
      58.25278% 121.65658%,
      55.29601% 122.27265%,
      52.41345% 122.81451%,
      49.61866% 123.28692%,
      46.92518% 123.69463%,
      44.34657% 124.0424%,
      41.89638% 124.33501%,
      39.58815% 124.5772%,
      37.43544% 124.77373%,
      35.4518% 124.92937%,
      33.65078% 125.04887%,
      32.04593% 125.137%,
      30.6508% 125.19851%,
      29.47894% 125.23816%,
      28.54391% 125.26071%,
      27.85926% 125.27093%,
      27.43852% 125.27358%,
      27.29527% 125.2734%,
      127.29527% 125.2734%
    );
  }
  .dot {
    position: absolute;
    /*draw particles as circles:*/
    border-radius: 50%;
    background-color: #d7385e;
  }
  .text-container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: absolute;
    width: 100%;
  }
  .text {
    color: #f0a79e;
    font-size: 22px;
    position: absolute;
  }
  .text-dark {
    color: #fff;
  }
  .overlay {
    height: 100%;
    position: absolute;
    width: 100%;
  }
  .signUp form {
    margin: 35px auto;
    background-color: #f2f2f2;
    padding: 25px;
    border-radius: 7px;
  }
  